.jumbotron{
    margin-bottom: 0;
    }
    .banner-1{
        background-color:#00B7A1;
        min-height:730px;
    }
    h1{
        margin-top: 15rem;
    }
    
    .navbar{
        background-color: #00B7A1;
    }
    .navbar-nav a:hover {
        background-color: white;
        border-bottom: 3px solid black;
        
    }
    
    .navbar-nav a:hover{
    
        color: black !important;
    }
    .banner-2{
        background-color: #013848 ;
        min-height:730px;
    }
    .banner-3{
        background-color: #013848;
        min-height:300px;
    }
    .purple{
        color: #00B7A1;
    }
    .profile-logo{
    max-width: 10rem;
    max-height: 10rem;
    
    }
    .para{
        color:#00B7A1;
    }
    
    li {
            line-height: 60px;
        }
        .profile-logo:hover{
            transform: scale(1.2) rotate(360deg);
            transition: all ease-in-out 250ms;
          }
         li{
            color:#00B7A1;
         }
    li:hover{
              color:white;
          }
          .form-inline > * {
            margin:5px 40px;
            margin-left: 6rem;
         }
         .card{
            background-color:  #83dbd1;
         }
     
.navbar-nav a {
    color: white;
    padding: 10px 15px; /* Boşluk eklenen kısım */
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    border-radius: 10px;
    background-color: #013848;
    color: #00B7A1 !important;
    border-bottom: 3px solid #00B7A1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .active {
    background-color: #013848;
    color: #00B7A1 !important;
    border-bottom: 3px solid #00B7A1;
}

.navbar {
    background-color: #00B7A1;
}

@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    .navbar-nav a {
        margin: 0 15px;
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(1, 12, 82, 0.1);
    transform: scale(0.9);
}

/* Footer Stili */
#contact {
    text-align: center;
}

/* Footer Içerisindeki Elementlerin Stili */
#contact .jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px; /* İhtiyaca bağlı olarak ayarlanabilir */
}

#contact .list-inline {
    margin-top: 20px; /* İhtiyaca bağlı olarak ayarlanabilir */
}
